#window {
	background-color: #111;
}

#input {
	color: #d8d8d8;
	background-color: #333;
	border: none;
	border-radius: 0;
	outline-width: 0;
}

#entry, #text {
	color: #3dd;
}

#entry:nth-child(2n), #text:nth-child(2n) {
	background-color: #333;
}

#entry:selected, #text:selected {
	color: inherit;
	background-color: #3dd;
	border: 1px solid transparent;
	outline: none;
}
